.card-group-products>.row {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.card-group-products>.row>.col-sm {
    display: inline-block;
    width: fit-content;
}

.card-group-products>.row>.col-sm>.card {
    width: 330px;
}

.brand-group>.row {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.brand-group>.row>.col-3 {
    display: inline-block;
}

.brand-group>.row>.col-3>.card {
    display: inline-block;
    height: 300px !important;
    background-size: cover;
    background-position-x: 50%;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
}