.card-group-products>.row {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.card-group-products>.row>.col-sm {
    display: inline-block;
    width: -moz-fit-content;
    width: fit-content;
}

.card-group-products>.row>.col-sm>.card {
    width: 330px;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
}