html main .col .card {
    width: 100%;
    height: 400px;
    padding: 10px;
}

html main .col:nth-child(2) .card img {
    height: 175px;
    padding: 10px;
    align-self: center;
}

html main .col:nth-child(2) .card .card-title {
    font-size: 18px;
}

html main .col:nth-child(3) .card img {
    width: 75%;
    height: 200px;
    padding: 10px;
    align-self: center;
}

html main .col .card .card-body {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

@media (max-width:600px) {
    .container.text-center.p-3.h-100>.row {
        flex-direction: column;
    }

    html main .col .card {
        height: 100%;
    }

    html main .col:nth-child(3) .card img {
        width: 75%;
        height: 300px;
        padding: 10px;
        align-self: center;
    }
}